services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: gmf
      POSTGRES_PASSWORD: gmf
      POSTGRES_DB: gmf
    ports: ["5432:5432"]
    volumes:
      - gmf_pg:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports: ["6379:6379"]

  api  api  apld:
      context: .
      dockerfile: infra/api.Dockerfile
    environment:
      DATABASE_URL: postgresql+psycopg://gmf:gmf@postgres:5432/gmf
      REDIS_URL: redis://redis:6379/0
    ports: ["8000:8000"]
    depends_on: [postgres, redis]

  worker:
    build:
      context: .
      dockerfile: infra/worker.Dockerfile
    environment:
      DATABASE_URL: postgresql+psycopg://gmf:gmf@postgres:5432/gmf
      REDIS_URL: redis://redis:6379/0
    depends_on: [postgres, redis]

volumes:
  gmf_pg:
